.product-info-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    //width: calc(100% - 36px); // TODO: check who set that and why

    .product-btn-group {
        display: inline-flex;
        justify-content: flex-end;
        align-items: baseline;

        .warning-icon {
            margin-right: 1em;
        }
    }

    .photo-container{
        max-width: 100%;
        overflow: hidden;
    }

    .product-info {
        text-align: center;
    }

    .product-table {
        max-width: 100%;
    }

    .ingredients-block {
        margin-bottom: 10px;
    }

    .additives {
        margin-top: 10px;
        display: flex;
        flex-direction: column;

        > div {
            padding: 3px;

            > span {
                padding: 6px;
                cursor: pointer;
            }
        }
    }
}

.allergen-warning {
    border: 2px solid #de5b04;
    border-radius: 5px;

    & > * {
        padding: 2em;
    }
}
