.grid-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #000;
    border: 2px solid #909090;
    border-radius: 6px;

    .grid-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: inherit;
        padding: 1.5rem;

        .image-container {
            width: 10rem;
            height: 10rem;
            margin-right: 2.5rem;

            img {
                object-fit: cover;
                width: inherit;
                height: inherit;
                border-radius: 3px;
            }
        }

    }

    .warning-icon {
        padding-right: 2rem;
    }
}

.grid-link-with-warning {
    border: 2px solid #de5b04;
    background-color: rgba(255, 169, 103, 0.25);
}

.grid-link-with-bad-reaction {
    border: 2px solid #e5bf5e;
    background-color: rgba(255, 229, 145, 0.25);
}