.section-background {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    min-height: 100%;
    background-color: #E4E3E3;
    padding: 100px 50px 50px;

    .section-foreground {
        width: 80%;
        min-height: 65vh;
        background-color: #F6F6F6;

        .main-content-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            & > * {
                margin: 2rem;
            }
        }
    }
}
