.section-background {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    min-height: 75vh;
    background-color: #E4E3E3;

    .section-foreground {
        min-width: 80%;
        min-height: 80%;
        margin: 100px 50px 50px; /* TODO: margin-top should be equal to the header height */
        background-color: #F6F6F6;

        .main-content-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            & > * {
                margin: 2rem;
            }
        }
    }
}
