.dashboard-product {
    width: 35em;
    background-color: #F6F6F6;
    border-radius: 5px;
    padding: 0.2em 1em;
    margin: 1em 0;

    .product-title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .product-link {
            text-decoration: none;
            color: #000;
            
            .product-item {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: inherit;
                padding: 0.5em;
    
                .image-container {
                    width: 5em;
                    height: 5em;
                    margin-right: 2.5em;
        
                    img {
                        object-fit: cover;
                        width: inherit;
                        height: inherit;
                        border-radius: 3px;
                    }
                }
            }


            &:hover {
                color: #3976bb;
            }
        }
    }

    .nutrients {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%; //of the parent container
        list-style: none;
        padding: 0;
        text-align: center;
    }

    .quantity {
        padding-bottom: 1em;
    }
}

.dashboard-product-with-warning {
    border: 2px solid #de5b04;
    background-color: rgba(255, 169, 103, 0.25);
}

.dashboard-product-with-reaction-warning {
    border: 2px solid #e5bf5e;
    background-color: rgba(255, 229, 145, 0.25);
}
