.daily-requirements-container {
    width: 100%;
    background-color: #F6F6F6;
    border-radius: 5px;
    padding: 0.2em 1em;

    .item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 5px;

        .percentage-bar {
            width: 90%;
            position: relative;
            margin-top: 5px;

            .numbers {
                position: absolute;
                z-index: 1;
                width: 100%;
                text-align: center;
            }
        }
    }
}
